/* CSS RESET */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

main {
    display: block;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

img {
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

progress {
    vertical-align: baseline;
}

textarea {
    overflow: auto;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

details {
    display: block;
}

summary {
    display: list-item;
}

template {
    display: none;
}

[hidden] {
    display: none;
}

/* END OF CSS RESET */

:root {
    transition: 0.2s;
    --color-bg-primary: #e8e8e8;
    --color-bg-secondary: #f3f3f3;
    --color-font-primary: #333333;
    --color-font-secondary: #ffffff;
    --color-font-third: #5f5f5f;
    --color-accent-primary: #4d8eff;
    --color-accent-secondary: #FA7070;
    --color-accent-read: #b2d491;
    --color-shadow-a: #c5c5c5;
    --color-shadow-b: #ffffff;
    --color-border: #c5c5c5;
}

:root.dark {
    transition: 0.2s;
    --color-bg-primary: #2c2c2c;
    --color-bg-secondary: #444444;
    --color-font-primary: #ffffff;
    --color-font-secondary: #333333;
    --color-font-third: #868686;
    --color-accent-primary: #4d8eff;
    --color-accent-secondary: #FA7070;
    --color-accent-read: #b2d491;
    --color-shadow-a: #2e2e2e;
    --color-shadow-b: #3b3b3b;
    --color-border: #4e4e4e;
}

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html {
    background: var(--color-bg-primary);
    height: -webkit-fill-available;
}

body {
    margin: 0;
    height: 100vh;
    height: -webkit-fill-available;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 1fr 30px;
}

/* _________________________FORM_____________________________________________ */

.modal {
    visibility: hidden;
    transition: 0.2s;
    z-index: 2;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 500px;
    width: 300px;
    border-radius: 50px;
    background: var(--color-bg-secondary);
    box-shadow: 6px 6px 12px var(--color-shadow-a),
        -6px -6px 12px var(--color-shadow-a);
    color: var(--color-font-primary);
    font-family: inherit;
    text-align: center;
}

form legend {
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 20px;
}

form span {
    margin-top: 20px;
}

.modal.show {
    transition: 0.2s;
    visibility: visible;
}

input {
    padding: 5px 5px 5px 10px;
    border: none;
    border-radius: 5px;
    background: var(--color-font-secondary);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    color: var(--color-font-primary);
}

input:focus {
    padding: 5px 5px 5px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background: var(--color-font-secondary);
    box-shadow: inset 1px 1px 10px var(--color-shadow-a),
        inset -1px -1px 10px var(--color-shadow-b);
    color: var(--color-font-primary);
}

#title_error,
#author_error,
#pages_error,
#book_error {
    color: #be0000;
    font-size: 0.85rem;
    font-weight: bold;
    visibility: hidden;
    transition: 0.2s;
}

#title_error.show,
#author_error.show,
#pages_error.show,
#book_error.show {
    visibility: visible;
    transition: 0.2s;
}

#close_modal {
    transition: 0.1s;
    height: 25px;
    width: 25px;
    position: relative;
    left: 110px;
    top: 20px;
    border-radius: 50%;
    border: none;
    background: var(--color-bg-secondary);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    cursor: pointer;
    color: var(--color-font-primary);
}

#close_modal:active {
    transition: 0.1s;
    background: linear-gradient(145deg, var(--color-shadow-a), var(--color-shadow-b));
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
}

/* _________________________NAVBAR___________________________________________ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 2px;
    backdrop-filter: blur(5px);
    grid-row: 1 / 2;
    height: 100%;
    background: var(--color-bg-secondary);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
}

.navbar h2 {
    color: var(--color-font-primary);
}

/* _________________________MAIN_____________________________________________ */

.main {
    display: grid;
    justify-items: center;
    align-items: stretch;
    align-content: flex-start;
    grid-row: 2 / 3;
    grid-column: 1 / 1;
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    padding: 20px;
    justify-self: center;
}

.main .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 100%;
    border-radius: 25px;
    background: var(--color-bg-secondary);
    box-shadow: 6px 6px 12px var(--color-shadow-a),
        -6px -6px 12px var(--color-shadow-a);
    color: var(--color-font-primary);
    font-family: inherit;
}

.main .card .title,
.main .card .author,
.main .card .pages {
    width: 100%;
    text-align: center;
}

.main .card span {
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: space-evenly;
}

/* __________________________FOOTER__________________________________________ */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.95rem;
    font-family: inherit;
    font-weight: bold;
    background: var(--color-bg-secondary);
    color: var(--color-font-third);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-a);
    backdrop-filter: blur(5px);
    grid-row: 3 / 4;
    grid-column: 1 / 1;
}

/* FOOTER ICON ANIMATION */

.footer .fa-github {
    color: var(--color-font-primary);
    font-size: 1rem;
    transition: transform 0.3s ease-in-out;
    margin-left: 10px;
}

.footer .fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

/* ____________________________BUTTONS_______________________________________ */

/* DARK/LIGHT mode switch */
.switch {
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
    margin-right: 15px;
    margin-top: 2px;
    border: 1px solid var(--color-border);
    border-radius: 50px;
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    scale: 0.9;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-bg-secondary);
    transition: .4s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon, 1.4em);
    width: var(--size-of-icon, 1.4em);
    border-radius: 20px;
    left: var(--slider-offset, 0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg, #ff0080, #ff8c00 70%);
    ;
    transition: .4s;
}

input:checked+.slider {
    background-color: #303136;
}

input:checked+.slider:before {
    left: calc(100% - (var(--size-of-icon, 1.4em) + var(--slider-offset, 0.3em)));
    background: #303136;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
}

/* ADD BOOK button */
.icon-btn {
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 10px;
    border: 1px solid var(--color-bg-primary);
    background: var(--color-accent-primary);
    color: var(--color-shadow-b);
    border-radius: 25px;
    overflow: hidden;
    position: fixed;
    transition: width 0.2s ease-in-out;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    z-index: 2;
}

.add-btn:hover {
    width: 120px;
}

.add-btn::before,
.add-btn::after {
    transition: width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 4px;
    width: 10px;
    top: calc(50% - 2px);
    background: var(--color-shadow-b);
}

.add-btn::after {
    right: 14px;
    overflow: hidden;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn::before {
    left: 14px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.icon-btn:focus {
    outline: none;
}

.btn-txt {
    opacity: 0;
    transition: opacity 0.2s;
    font-size: 0.85rem;
    font-weight: bold;
}

.add-btn:hover::before,
.add-btn:hover::after {
    width: 4px;
    border-radius: 2px;
}

.add-btn:hover .btn-txt {
    opacity: 1;
}

.add-icon::after,
.add-icon::before {
    transition: all 0.2s ease-in-out;
    content: "";
    position: absolute;
    height: 20px;
    width: 2px;
    top: calc(50% - 10px);
    background: var(--color-shadow-b);
    overflow: hidden;
}

.add-icon::before {
    left: 22px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.add-icon::after {
    right: 22px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.add-btn:hover .add-icon::before {
    left: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

.add-btn:hover .add-icon::after {
    right: 15px;
    height: 4px;
    top: calc(50% - 2px);
}

/* SUBMIT button */
button#submit {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 40px;
    height: 40px;
    width: 150px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--color-accent-primary);
    z-index: 1;
    background: var(--color-bg-secondary);
    position: relative;
    font-weight: 1000;
    font-size: 1rem;
    -webkit-box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-a);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    transition: all 250ms;
    overflow: hidden;
}

button#submit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--color-accent-primary);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button#submit:hover {
    color: var(--color-font-secondary);
}

button#submit:hover::before {
    width: 100%;
}

/* CHECKBOX */
.cl-checkbox {
    position: relative;
    display: inline-block;
    margin-left: 10px;
}

span>label {
    bottom: 3px;
}


/* Input */
.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -3px;
    top: 19px;
    display: block;
    margin: 0;
    border-radius: 5px;
    width: 26px;
    height: 26px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 2px;

    /* Safari */
    border-color: var(--color-font-primary);
    border-radius: 2px;
    width: 18px;
    height: 18px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 23px;
    left: 1px;
    width: 10px;
    height: 5px;
    border: solid 2px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: var(--color-accent-primary)
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: var(--color-accent-primary);
    background-color: var(--color-accent-primary);
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: #fff;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: var(--color-accent-primary);
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}

/* READ btn */

button#read_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 120px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--color-accent-read);
    z-index: 1;
    background: var(--color-bg-secondary);
    position: relative;
    font-weight: 1000;
    font-size: 1rem;
    -webkit-box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-a);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    transition: all 250ms;
    overflow: hidden;
}

button#read_btn.read {
    color: var(--color-font-secondary);
    background-color: var(--color-accent-read);
}

button#read_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--color-accent-read);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button#read_btn.read::before {
    background-color: var(--color-accent-read);
}

button#read_btn:hover {
    color: var(--color-font-secondary);
}

button#read_btn.read:hover {
    color: var(--color-font-secondary);
}


button#read_btn:hover::before {
    width: 100%;
}

button#read_btn.read:hover::before {
    width: 0%;
}

/* REMOVE btn */

button#remove_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 40px;
    width: 120px;
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: var(--color-accent-secondary);
    z-index: 1;
    background: var(--color-bg-secondary);
    position: relative;
    font-weight: 1000;
    font-size: 1rem;
    -webkit-box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-a);
    box-shadow: 3px 3px 6px var(--color-shadow-a),
        -3px -3px 6px var(--color-shadow-b);
    transition: all 250ms;
    overflow: hidden;
}

button#remove_btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--color-accent-secondary);
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    box-shadow: 4px 8px 19px -3px rgba(0, 0, 0, 0.27);
    transition: all 250ms;
}

button#remove_btn:hover {
    color: var(--color-font-secondary);
}

button#remove_btn:hover::before {
    width: 100%;
}

@media (max-width: 768px) {
    .main {
        max-width: 100vw;
    }

    .icon-btn {
        scale: 0.70;
        top: -5px;
        right: -3px;
    }

    .switch {
        margin: 0 auto;
    }

    button#submit {
        width: 150px;
    }

    #close_modal {
        transition: 0.1s;
        height: 25px;
        width: 25px;
        padding: 0;
        text-align: center;
        font-size: 0.8rem;
        position: absolute;
        left: 245px;
        top: 25px;
        border-radius: 50%;
        border: none;
        background: var(--color-bg-secondary);
        box-shadow: 3px 3px 6px var(--color-shadow-a),
            -3px -3px 6px var(--color-shadow-b);
        cursor: pointer;
        color: var(--color-font-primary);
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        height: 500px;
        width: 300px;
        border-radius: 50px;
        background: var(--color-bg-secondary);
        box-shadow: 6px 6px 12px var(--color-shadow-a),
            -6px -6px 12px var(--color-shadow-a);
        color: var(--color-font-primary);
        font-family: inherit;
        text-align: center;
    }

    form legend {
        font-weight: bold;
        font-size: 1.2rem;
        margin-top: 40px;
    }

    form span {
        margin-top: 20px;
    }

    .modal.show {
        transition: 0.2s;
        visibility: visible;
    }

    input {
        padding-left: 10px;
        border: none;
        border-radius: 5px;
        background: var(--color-font-secondary);
        box-shadow: 3px 3px 6px var(--color-shadow-a),
            -3px -3px 6px var(--color-shadow-b);
        color: var(--color-font-primary);
        width: 80%;
        height: 28px;
    }

    input:focus {
        padding: 5px 5px 5px 10px;
        border: none;
        outline: none;
        border-radius: 5px;
        background: var(--color-font-secondary);
        box-shadow: inset 1px 1px 10px var(--color-shadow-a),
            inset -1px -1px 10px var(--color-shadow-b);
        color: var(--color-font-primary);
    }

}